@charset "UTF-8";
/* CSS Document */

html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
html {
    color:#FFF;
    font-family: Avenir, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:rgb(110,60,70);
    background: -webkit-radial-gradient(rgb(150,84,79), rgb(110,60,70), rgb(34,24,42)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgb(150,84,79), rgb(110,60,70), rgb(34,24,42)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgb(150,84,79), rgb(110,60,70), rgb(34,24,42)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgb(150,84,79), rgb(110,60,70), rgb(34,24,42)); /* Standard syntax */
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size:cover;
}
hr {
    border-style:none;
    border-bottom:1px solid rgba(255,255,255,0.20);
}
p, ul {
    font-size:14px;
}
h1 {
    color:#956e73;
}
h2 {
    color:#FFF;
    font-family: Avenir, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:18px;
    font-weight:normal;
    text-align:center
}
h3 {
    color:#FFF;
    font-family: Avenir, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    text-align:center;
    margin:10px;
}
.page {
    max-width:1330px;
    margin:auto;
    background-color:rgba(255,255,255,0.20);
}
.header {
    width:100%;
    margin:auto;
}
.header_top {
    height:29px;
    font-size:10px;
    line-height:30px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display:none;
}
.header_mid {
    height:50px;
    padding:10px 0 10px 0;
}
.header_bottom {
    height:40px;
    width:100%;
}
.logo {
    width:202px;
    height:50px;
    margin:auto;
}
.logo_date {
    float:left; 
    margin: 10px 0 0 36px; 
    font-size:24px; 
    font-weight:500;
    display: none;
}
.social {
    width:110px;
    height:50px;
    float:right;
    display:none;
}
.navExpand {
    color:#9d717b;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:12px;
    text-align:center;
    background-color:#FFF;
    line-height:38px;
    float:left;
    width:100%;
}
.navItem {
    color:#9d717b;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    text-align:center;
    background-color:#FFF;
    border:none;
    line-height:40px;
    float:left;
    width:100%;
    display:none;
}
.spacer {
    border:1px solid white;
    float:left;
    height:38px;
    background-color: white;
    display:none;
}
.navItem:hover {
    color:#FFF;
    background-color:rgba(255,255,255,0.2);
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.navToggle {
    display:block;
}
.content {
    width:100%;
    margin:auto;
    margin-top:0px;
    margin-bottom:30px;
    clear:both;
}
.sidebar {
    width:210px;
    float:left;
    display:none;
    padding: 0;
    margin: 0;
}
.sidebarShaded {
    background-color:rgba(255,255,255,0.2);
    padding: 0;
    margin: 15px 0 0 0;
    width: 210px;
    float: left;
}
.sidebar p {
    font-size:12px;
    margin:0 15px 0 15px;
}
.sidebar .track {
    font-size: 15px;
    margin:10px 0 0 0;
}
.sidebar .left {
    width: 115px;
    float: left;
    margin:0 0 0 15px;
    clear: both;
}
.sidebar .right {
    margin:0;
    width:80px;
    float: right;
    text-align: right;
}
.sidebar hr {
    margin:0;
}
#newsBox {
    float: left;
    clear: both;
    background-color:rgba(255,255,255,0.2);
    margin-top: 15px;
    padding: 0 10px 15px 10px;
}

.clear {
    margin:0; 
    clear:both; 
    background-color:none;
    border:none;
}
.box_Header {
    width:100%;
    float:right;
    margin-bottom: 10px;
    background-color:rgba(255,255,255,0.2);
}
.box_Header h2 {
    margin-left: 15px;
    margin-right: 15px;
    color:black;
    font-weight:500;
    text-align:left;
    clear:both;
    text-transform: uppercase;
    margin-left: 0px;
    color:#956e73;
    text-transform: uppercase;
  }
.box_Header a {
    color:#FFF;
    font-weight:100;
    text-decoration: none;
}
.container {
    background:rgba(0,0,0,0.0);
    float:right;
    width:100%;
}
.footer {
    width:100%;
    padding:10px 0 50px 0;
    margin:auto;
    background-color:rgba(204,204,204,0.20);
}
.sponsors{
    width:100%;
    margin:auto;
}
.sponsorBox {
    width:50%;
    height:80px;
    color:black;
    background-color:#ebe5e5;
    margin:0px;
    text-align:center;
    line-height:120px;
    float:left;
}
.sponsorTitle {
    width:100%;
    float:none;
}
.sponsorH2 {
    text-align:center; margin:10px;
}
.sponsorContainer {
    text-align:center;
    margin:0px;
    width:100%;
    float:none;
}
.footerBottom {
    width:100%;
    margin:auto;
    height:29px;
    font-size:10px;
    line-height:30px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display:none;
}
#headerText {
    position: relative; 
    left:40px; 
    margin:0;
    padding-right: 40px;
    display: none;
  }
@media only screen and (min-width: 715px) {
    /* For tablet portrait: */
    html {background-image:url(../images/background.jpg);}
    .page {max-width:735px;}
    .header {width:695px;}
    .header_top {display:block; font-size:10px;}
    .logo {float:left;}
    .logo_date {display: block;}
    .social {display:none;}
    .navExpand {display:none;}
    .navContract {display:none;}
    .navItem {width:auto; padding:0 2px 0 2px; font-size:12px; line-height:38px; display:block; border:1px solid #FFF;}
    .content {width:695px; margin-top:30px;}
    .sidebar {display:block;}
    .box_Header {width:455px;}
    .container {width:455px}
    .footer {max-width:735px;}
    .sponsors {width:704px;}
    .sponsorBox {width:25%; margin:0px;}
    .sponsorTitle{width:245px;float:left;}
    .sponsorH2{text-align:left; margin-left:5px; margin-top:0px;}
    .sponsorContainer {width:100%;float:left;}
    .footerBottom {width:695px; display:block; font-size:10px;}
    .spacer {width:8px; display:block;}
    #headerText {text-align:center; margin:0px; display:inherit;}
}
@media only screen and (min-width: 920px) {
    /* For tablet landscape: */
    html {background-image:url(../images/background.jpg);}
    .page {max-width:980px;}
    .header {width:900px;}
    .header_top {display:block; font-size:12px;}
    .logo {float:left;}
    .social {display:none;}
    .navExpand {display:none;}
    .navContract {display:none;}
    .navItem {width:auto; padding:0 13px 0 14px; font-size:14px; line-height:38px; display:block; border:1px solid #FFF;}
    .content {width:900px; margin-top:30px;}
    .sidebar {display:block;}
    .box_Header {width:660px;}
    .container {width:660px}
    .footer {max-width:980px;}
    .sponsors {width:912px;}
    .sponsorBox {width:25%; margin:0px;}
    .sponsorTitle{width:245px;float:left;}
    .sponsorH2{text-align:left; margin-left:5px; margin-top:30px;}
    .sponsorContainer {width:660px;float:left;}
    .footerBottom {width:900px; display:block; font-size:12px;}
    .spacer {width:52px; display:block;}
    #headerText {text-align:left; margin:10px; display: inherit;}
}
@media only screen and (min-width: 1190px) {
    /* For desktop: */
    html {background-image:url(../images/background.jpg);}
    .page {max-width:1330px;}
    .header {width:1170px;}
    .header_top {display:block; font-size:15px;}
    .logo {float:left;}
    .social {display:none;}
    .navExpand {display:none;}
    .navContract {display:none;}
    .navItem {width:auto; padding:0 28px 0 29px; font-size:14px; line-height:38px; display:block; border:1px solid #FFF;}
    .content {width:1170px; margin-top:30px;}
    .sidebar {display:block;}
    .box_Header {width:930px;}
    .container {width:930px}
    .footer {max-width:1330px;}
    .sponsors {width:1180px;}
    .sponsorBox {width:25%; margin:0px;}
    .sponsorTitle{width:245px;float:left;}
    .sponsorH2{text-align:left; margin-left:5px; margin-top:30px;}
    .sponsorContainer {width:930px;float:left;}
    .footerBottom {width:1170px; display:block; font-size:15px;}
    .spacer {width:112px; display:block;}
    #headerText {text-align:left; margin:10px; display: inherit;}
    /*
    .navExpand {display:none;}
    .navItem {width:auto; padding:0 28px 0 29px; font-size:14px; line-height:38px; display:block; border:1px solid #FFF;}
    */
}